.btn-box{
  padding: 10px 0;
}
.page-bottom{
  padding: 10px;
  text-align: right;
}
.el-button--mini {
  padding: 6px 10px
}
.el-menu-item.is-active{
  background: rgb(45, 140, 240);
  color:#fff
}
.el-submenu .el-menu-item i{
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}